<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Form Gruas Cranes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto&amp;display=swap">
</head>

<body>
    <div class="d-flex flex-column justify-content-center align-items-center" style="width: 100%;height: 100vh;padding: 20px;">
        <h1 class="text-center" style="margin-bottom: 20px;">Administración de equipos</h1>
        <form class="d-md-flex justify-content-md-center justify-content-lg-center" style="width: 100%;">
            <div class="row gy-5 d-md-flex d-xl-flex justify-content-md-center justify-content-lg-center justify-content-xl-center">
                <div class="col-sm-12 col-md-8 d-flex flex-column justify-content-xl-center justify-content-xxl-center">
                    <h2 class="text-center">&nbsp;Crear equipos</h2><input class="form-control" type="text" style="margin-bottom: 10px;" name="CrearEquipo"><button class="btn btn-primary" type="submit" style="width: 100%;background: var(--bs-success);" value="Crear">Crear</button>
                </div>
                <div class="col-sm-12 col-md-8 d-flex d-xxl-flex flex-column justify-content-xxl-center align-items-xxl-center">
                    <h2 class="text-center">Modificar equipos</h2><select class="form-select" style="margin-bottom: 10px;" name="SeleccionarActualizar">
                        <optgroup label="Selecciona trabajador">
                            <option value="seleccionar" selected="">seleccionar</option>
                        </optgroup>
                    </select><input class="form-control" type="text" style="margin-bottom: 10px;" name="ModificarEquipo"><button class="btn btn-primary" type="submit" style="width: 100%;background: var(--bs-success);" value="Actualizar">Actualizar</button>
                </div>
                <div class="col-sm-12 col-md-8 d-flex d-xxl-flex flex-column align-items-xl-center justify-content-xxl-center align-items-xxl-center">
                    <h2 class="text-center">Eliminar equipos</h2><select class="form-select" style="margin-bottom: 10px;" name="SeleccionarEliminar">
                        <optgroup label="Selecciona trabajador">
                            <option value="seleccionar" selected="">seleccionar</option>
                        </optgroup>
                    </select><button class="btn btn-primary" type="submit" style="width: 100%;background: var(--bs-danger);" value="Eliminar">Eliminar</button>
                </div>
                <div class="col-sm-12 col-md-8 d-flex d-xxl-flex flex-column align-items-xl-center justify-content-xxl-center align-items-xxl-center"><button class="btn btn-primary" type="submit" style="width: 100%;background: var(--bs-success);" value="Volver">Volver</button></div>
            </div>
        </form>
    </div>
    <script src="{{ url_for('static', filename='assets/bootstrap/js/bootstrap.min.js') }}"></script>
</body>

</html>